@inject Hospital.Web.Services.IUsersService _usersService

<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "" : "collapsed")"
               asp-action="Index"
               asp-controller="Home">
                <i class="bi bi-grid"></i>
                <span>Inicio</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <!-- Navegador de tablas -->
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Información </span><i class="bi bi-chevron-down ms-auto"></i>
            </a>

            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <!--Roles -->
                @if (await _usersService.CurrentUserIsAuthorizedAsync("showRoles", "Roles"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Roles" ? "" : "collapsed")"
                           asp-controller="Roles"
                           asp-action="Index">
                            <i class="bi bi-grid"></i>
                            <span>Roles</span>
                        </a>
                    </li>
                }
                <!--Usuarios -->
                @if (await _usersService.CurrentUserIsAuthorizedAsync("showUser", "Usuarios"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Users" ? "" : "collapsed")"
                           asp-controller="Users"
                           asp-action="Index">
                            <i class="bi bi-grid"></i>
                            <span>Usuarios</span>
                        </a>
                    </li>
                }
                <!--Espesciades Medicas -->
                @if (await _usersService.CurrentUserIsAuthorizedAsync("showMedicalSpecialization", "Especialidades Medicas"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "MedicalSpe" ? "" : "collapsed")"
                           asp-controller="MedicalSpe"
                           asp-action="Index">
                            <i class="bi bi-grid"></i>
                            <span>Especialidad Médica</span>
                        </a>
                    </li>
                }
                <!-- Citas -->
                @if (await _usersService.CurrentUserIsAuthorizedAsync("showAppoiment", "Citas"))
                {
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Appoiments" ? "" : "collapsed")"
                       asp-controller="Appoiments"
                       asp-action="Index">
                        <i class="bi bi-grid"></i>
                        <span>Citas</span>
                    </a>
                </li>
                }
                <!-- Estado de las Citas-->
                @if(await _usersService.CurrentUserIsAuthorizedAsync("showStatu", "Estado"))
                {
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Status" ? "" : "collapsed")"
                       asp-controller="Status"
                       asp-action="Index">
                        <i class="bi bi-grid"></i>
                        <span>Estado de las citas</span>
                    </a>
                </li>
                }
                <!-- Medicamentos-->
                @if (await _usersService.CurrentUserIsAuthorizedAsync("showMedication", "Medicamentos"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Medications" ? "" : "collapsed")"
                        asp-controller="Medications"
                        asp-action="Index">
                            <i class="bi bi-grid"></i>
                            <span>Medicamentos</span>
                        </a>
                    </li>
                }
                <!--Órdenes Médicas -->
                @if (await _usersService.CurrentUserIsAuthorizedAsync("showMedicalOrder", "Órdenes Médicas"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "MedicalOrders" ? "" : "collapsed")"
                        asp-controller="MedicalOrders"
                        asp-action="Index">
                            <i class="bi bi-grid"></i>
                            <span>Órdenes Médicas</span>
                        </a>
                    </li>
                }
                <!--Historia Medical -->
                @if (await _usersService.CurrentUserIsAuthorizedAsync("showMedicalHistory", "Historia Clínica"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "MedicalHistory" ? "" : "collapsed")"
                           asp-controller="MedicalHistory"
                           asp-action="Index">
                            <i class="bi bi-grid"></i>
                            <span>Historia Clínica</span>
                        </a>
                    </li>
                }
@*                 <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Permissions" ? "" : "collapsed")"
                       asp-controller="Permissions"
                       asp-action="Index">
                        <i class="bi bi-grid"></i>
                        <span>Permisos</span>
                    </a>
                </li> *@


@*                 <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "RolPermissions" ? "" : "collapsed")"
                       asp-controller="RolPermissions"
                       asp-action="Index">
                        <i class="bi bi-grid"></i>
                        <span>Permisos de los roles</span>
                    </a>
                </li>
 *@
               
            </ul>
        </li>
    </ul>
</aside><!-- End Sidebar -->
